PORT=6660                           # Optional, default 6660
PROVIDERS_FILE=./providers.json     # Optional, default ./providers.json
SCOPES_FILE=./scopes.json           # Optional, default ./stopes.json
BASE_URL=http://localhost:6660      # Required
MONGO_CONN_STRING=mongodb://user:pwd@database.example.com:27017/auth  # Required
MONGO_DB_NAME=reauth                # Optional, default "reauth"
ISSUER=reauth                       # Optional, default "reauth"
APP_AUTHORIZE_URL=http://localhost:300/authorize # Required
PUBLIC_KEY_FILE=./public_key.pem    # Optional, default "./private_key.pem"
PRIVATE_KEY_FILE=./private_key.pem  # Optional, default "./public_key.pem"
